@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: skyblue
}

/* warna teks popup */
h2 {
color: rgba(255, 255, 255, 0.801);
}
p {
    color: rgb(255, 255, 255);
}


/* fitur popup */
.open-popup-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.open-popup-btn:hover {
    background-color: #2980b9;
}

/* Gaya Popup */
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Warna latar belakang semi-transparan */
    z-index: 1000; /* Pastikan popup muncul di atas elemen lain */
    justify-content: center;
    align-items: center;
}

/* isiPopup */
.popup-content {
    background-color: rgb(12, 60, 131);
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative; /* Untuk posisi tombol close */
    z-index: 1001; /* Konten popup di atas latar belakang */
    animation: fadeIn 0.3s ease-in-out;
}

/* Tombol Tutup */
.close-btn {
    position: absolute;
    top: 10px; /* Jarak dari atas */
    right: 10px; /* Jarak dari kanan */
    font-size: 24px;
    font-weight: bold;
    color: #e61d1d;
    cursor: pointer;
    transition: color 0.3s ease;
    z-index: 1002; /* Tombol close di atas konten */
}

.close-btn:hover {
    color: #e74c3c; /* Warna hover */
}

/* Animasi popup */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.greetings{
    font-size: 5rem;
    font-weight: 350;
    text-align: center;
}

  
.greetings > span{
    animation: glow 5s ease-in-out infinite;
}

@keyframes glow{
    0%, 100%{
        color: #d5d6da;
        text-shadow: 0 0 12px #02171a, 0 0 50px #1859e6, 0 0 100px #1859e6;
    }
    10%, 90%{
        color: #1d93d8;
        text-shadow: none;
    }
}

.greetings {
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid;
    width: 0;
    animation: typing;
    animation-duration: 4s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
  }
    
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
.greetings > span:nth-child(2){
    animation-delay: .2s ;
}
.greetings > span:nth-child(3){
    animation-delay: .4s ;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}

.button button {
    border: none;
    padding: 10px 15px;
    font-size: 15x;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #0ca5bc;
    border-radius: 30px;
    box-shadow: 0 5px #999;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .button button:hover {
    background-color: #007095;
  }
  
  .button button:active {
    background-color: #007095;
    box-shadow: 0 5px rgb(25, 25, 25);
    transform: translateY(5px);
  }
  
  a{
	text-decoration: none;
	color: orange;
}



.bulan{
	position: fixed;
	width: 15px;
	height: 15px;
	background: orange;
	left: 650px;
	top: 50px;
	background: yellow;

	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
	opacity: .1;

	border-radius: 100%;


	-webkit-animation: bercahaya 1s linear infinite;
	-moz-animation: bercahaya 3s linear infinite;
	-ms-animation: bercahaya 1s linear infinite;
	-o-animation: bercahaya 1s linear infinite;
	animation: bercahaya 3s linear infinite;
}   

.awan{
	width: 200px;
	height: 60px;
	background:#def1fd;
	border-radius: 200px;
	position: relative;
	z-index: 9999;
}


	.awan:before,
	.awan:after{
		content: ' ';
		position: absolute;
		background: #cfe6f1;
		width: 150px;
		height: 80px;
		position: absolute;
		top: -25px;
		left: 10px;
		border-radius:100px;
		text-transform: rotate(30deg); 
	}

	.awan:after{
		width: 120px;
		height: 120px;
		top: -55px;
		left: auto;
		right: 15px;
	}

.no1{
	top: 90px;
	-webkit-animation: jalankanawan 15s linear infinite;
	-moz-animation: jalankanawan 15s linear infinite;
	-ms-animation: jalankanawan 15s linear infinite;
	-o-animation: jalankanawan 15s linear infinite;
	animation: jalankanawan 15s linear infinite;
}

.no2{
	left: 200px;
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 0.6;
	-webkit-animation: jalankanawan 25s linear infinite;
	-moz-animation: jalankanawan 25s linear infinite;
	-ms-animation: jalankanawan 25s linear infinite;
	-o-animation: jalankanawan 25s linear infinite;
	animation: jalankanawan 25s linear infinite;
}


.no3{
	left: -250px;
	top: -200px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	-webkit-animation: jalankanawan 20s linear infinite;
	-moz-animation: jalankanawan 20s linear infinite;
	-ms-animation: jalankanawan 20s linear infinite;
	-o-animation: jalankanawan 20s linear infinite;
	animation: jalankanawan 20s linear infinite;
}

.no4{
	left: 470px;
	top: -250;
	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-ms-transform: scale(0.75);
	transform: scale(0.75);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	opacity: 0.75;
	-webkit-animation: jalankanawan 18s linear infinite;
	-moz-animation: jalankanawan 18s linear infinite;
	-ms-animation: jalankanawan 18s linear infinite;
	-o-animation: jalankanawan 18s linear infinite;
	animation: jalankanawan 18s linear infinite;
}

.no5{
	left: -150px;
	top: -150px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
	-webkit-animation: jalankanawan 20s linear infinite;
	-moz-animation: jalankanawan 20s linear infinite;
	-ms-animation: jalankanawan 20s linear infinite;
	-o-animation: jalankanawan 20s linear infinite;
	animation: jalankanawan 20s linear infinite;
}



@-webkit-keyframes jalankanawan{
	0% { margin-left: 1280px;}
	100%{margin-left: -1280px;}
}
@-moz-keyframes jalankanawan{
	0% { margin-left: 1280px;}
	100%{margin-left: -1280px;}
}
@-o-keyframes jalankanawan{
	0% { margin-left: 1280px;}
	100%{margin-left: -1280px;}
}



@-webkit-keyframes bercahaya{
	0% {opacity: .6; box-shadow:3px 3px 35px 35px orange}
	100%{opacity: .7;box-shadow:3px 3px 40px 40px orange}
}

@-moz-keyframes bercahaya{
	0% {opacity: .6; box-shadow:3px 3px 35px 35px orange}
	100%{opacity: .7;box-shadow:3px 3px 40px 40px orange}
}

@-o-keyframes bercahaya{
	0% {opacity: .6; box-shadow:3px 3px 35px 35px orange}
	100%{opacity: .7;box-shadow:3px 3px 40px 40px orange}
}


